body {
	font-family: Arial, "Helvetica Neue", Helvetica, "sans-serif";
	color: #777777;
	line-height: 30px;
	font-size: 18px;
	background-image: url("../images/brushed_alu.png");
}

* {
  box-sizing: border-box;
}

.head-container {	
	font-family: Georgia, Times, "Times New Roman", serif;
	background-color: #ffffff;		
	border-color: #cccccc;
}

.myName {
	display: inline-block;
	margin-left: 10%;
	font-weight: bold;
	background-color: #4aaaa5;
	font-size: 30px;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 20px;
}

nav {
	display: inline-block;
	float: right;
	margin-top: 20px;
	margin-right: 20%;
}

nav a {
	color: #777777;
	font-size: 20px;
	border-right: 1px solid #efefef;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	text-decoration: none;
}

nav a:last-child {
	border-right: none;
}

nav a:hover {
	color: darkgray;
}

h2, h3 {
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	border-bottom: 2px solid lightgray;
	margin: 10px 20px;
}

img {
	float: left;
    margin: 15px 20px;
}

p {
	margin: 30px 20px;
}

.container {
	width: 1024	px;
	max-width: 100%;	
	margin: 50px 0 auto;
}

.section-main {	
	clear: both;
	float: left;
	margin-left: 10%;	
	max-width: 650px;
	width: 100%;
	background-color: #ffffff;
	border-color: #dddddd;	
	padding-top: 10px;
}

.sidebar {
	margin-top: 20px;
	margin-left: 10%;
	max-width: 270px;
	width: 100%;
	float: left;
	background-color: #ffffff;
	border-color: #dddddd;	
	padding-top: 10px;
}

.contact {
	margin: 0;
	padding: 15px;
}

footer {
	background: #666666;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	text-align: center;
	padding: 20px;
	border-top: 10px solid teal;
	font-size: 15px;
	font-weight: normal;
	color: white;
}

/*contact*/
form {
	/*display: block;*/
}

label {
	padding-left: 15px;
}

.cnt {
	margin: 15px;
	/*size: 100%;*/
	width: 75%
}

.cntBtn {
	background-color: #20B2AA;
	color: white;
	font-weight: normal;
	font-size: 16px;
	width: 25%;
	height: 35px;
	margin: 15px;
}

/*portfolio*/

table {
	border: none;
}

.portfl1 {
	width: 300px;
	height: 300px;
	position: relative;
	float: left;
	margin: 10px;
}

.spanImg {	
	margin-top: 200px;
	margin-left: 10px;
	padding-left: 10px;
	padding-top: 10px;
	position: absolute;
	width: 300px;
	height:45px;
	background-color: #20B2AA;
	text-align: center;
}

.imgs1 {	
	color: white;
	font-weight: normal;
	font-size: 16px;
	padding-bottom: 10px;	
}

/*media query*/
@media screen and (max-width:980px) {
  .container {
    width: 100%;
  }
  table {
  	width: 100%;
  	overflow: auto;
  }
}

@media screen and (max-width:768px) {
  .container {
    width: 50%;
  }
  table {
  	width: 50%;
  	overflow: auto;
  }
}

@media screen and (max-width:640px) {  
  .container {
    width: 25%;
  }
  table {
  	width: 25%;
  	overflow: auto;
  }
}


